 .container{
  border: ridge;
}
.topstories{
  text-align: center;
  color: green;
}
.hr{
  margin-top:-0.8% ;
  margin-right: 100px;
}
.video{
  margin-left: -8.5%;
  margin-bottom: -5%;
}
.headNewsimg{
margin-left:2%;
margin-top: 2%;
height: 20vh;
}

 .side-topic{
   background-color: rgb(195, 247, 220);

} 
.rowcolor{
  background-color:white;
}

.secondContainer{
  margin-left: -1.7%;
  
  width:103.5%;
  margin-top: 0.1%;
  height: 28%;
  background-color:white;
  border: white;
}

 .likebtn{
  width: 33.33%;
  margin-top: 1%;
  background-color: white;
  border: white;
} 

 .madrid-title2{
color:green;
} 

.atag{
  margin-left: 1%;
  text-decoration:none !important;
  
}
